footer.footer.text-center
    div.container
        div.row
            <!-- Footer Location-->
            div.col-lg-4.mb-5.mb-lg-0
                h4.text-uppercase.mb-4 Location
                p.lead.mb-0 2215 John Daniel Drive
                    br
                    | Clark, MO 65243

            <!-- Footer Social Icons-->
            div.col-lg-4.mb-5.mb-lg-0
                h4.text-uppercase.mb-4 Around the Web
                a.btn.btn-outline-light.btn-social.mx-1(href="#!")
                    i.fab.fa-fw.fa-facebook-f
                a.btn.btn-outline-light.btn-social.mx-1(href="#!")
                    i.fab.fa-fw.fa-twitter
                a.btn.btn-outline-light.btn-social.mx-1(href="#!")
                    i.fab.fa-fw.fa-linkedin-in
                a.btn.btn-outline-light.btn-social.mx-1(href="#!")
                    i.fab.fa-fw.fa-dribbble
            <!-- Footer About Text-->
            div.col-lg-4
                h4.text-uppercase.mb-4 About Freelancer
                p.lead.mb-0 Freelance is a free to use, MIT licensed Bootstrap theme created by
                    a(href="http://startbootstrap.com") Start Bootstrap.