title Landing Page Example! Using nodejs + express + bootstrap 4 + docker

include extras/metatag

link(rel="icon" type="image/x-icon" href="images/favicon.ico")

script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin="anonymous")
link( href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel="stylesheet", type="text/css" )
link( href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel="stylesheet", type="text/css" )

link( href="stylesheets/styles.css" rel="stylesheet")