header.masthead.bg-primary.text-white.text-center
    div.container.d-flex.align-items-center.flex-column
        <!-- Masthead Avatar Image-->
        img.masthead-avatar.mb-5(src="images/avataaars.svg", alt="")
        <!-- Masthead Heading-->
        h1.masthead-heading.text-uppercase.mb-0 Start Bootstrap
        <!-- Icon Divider-->
        div.divider-custom.divider-light
        div.divider-custom-line
        div.divider-custom-icon
            i.fas.fa-star
        div.divider-custom-line
        <!-- Masthead Subheading-->
        p.masthead-subheading.font-weight-light.mb-0 Graphic Artist - Web Designer - Illustrator