section.page-section.bg-primary.text-white.mb-0(id="about")
    div.container
        <!-- About Section Heading-->
        h2.page-section-heading.text-center.text-uppercase.text-white About
        <!-- Icon Divider-->
        div.divider-custom.divider-light
            div.divider-custom-line
            div.divider-custom-icon
                i.fas.fa-star
            div.divider-custom-line
        <!-- About Section Content-->
        div.row
            div.col-lg-4.ml-auto
                p.lead Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
            div.col-lg-4.mr-auto
                p.lead You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!
            <!-- About Section Button-->
        div.text-center.mt-4
            a.btn.btn-xl.btn-outline-light(href="https://startbootstrap.com/theme/freelancer/")
                i.fas.fa-download.mr-2 Free Download!