div.portfolio-modal.modal.fade(id="portfolioModal1", tabindex="-1", role="dialog", aria-labelledby="portfolioModal1Label", aria-hidden="true")
    div.modal-dialog.modal-xl(role="document")
        div.modal-content
            button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true")
                    i.fas.fa-times
            div.modal-body.text-center
                div.container
                    div.row.justify-content-center
                        div.col-lg-8
                            <!-- Portfolio Modal - Title-->
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0(id="portfolioModal1Label") Log Cabin
                            <!-- Icon Divider-->
                            div.divider-custom
                                div.divider-custom-line
                                div.divider-custom-icon
                                    i.fas.fa-star
                                div.divider-custom-line
                            <!-- Portfolio Modal - Image-->
                            img.img-fluid.rounded.mb-5(src="images/portfolio/cabin.png", alt="")
                            <!-- Portfolio Modal - Text-->
                            p.mb-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                            button.btn.btn-primary(data-dismiss="modal")
                                i.fas.fa-times.fa-fw Close Window



div.portfolio-modal.modal.fade(id="portfolioModal2", tabindex="-1", role="dialog", aria-labelledby="portfolioModal1Label", aria-hidden="true")
    div.modal-dialog.modal-xl(role="document")
        div.modal-content
            button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true")
                    i.fas.fa-times
            div.modal-body.text-center
                div.container
                    div.row.justify-content-center
                        div.col-lg-8
                            <!-- Portfolio Modal - Title-->
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0(id="portfolioModal2Label") Log Cake
                            <!-- Icon Divider-->
                            div.divider-custom
                                div.divider-custom-line
                                div.divider-custom-icon
                                    i.fas.fa-star
                                div.divider-custom-line
                            <!-- Portfolio Modal - Image-->
                            img.img-fluid.rounded.mb-5(src="images/portfolio/cake.png", alt="")
                            <!-- Portfolio Modal - Text-->
                            p.mb-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                            button.btn.btn-primary(data-dismiss="modal")
                                i.fas.fa-times.fa-fw Close Window



div.portfolio-modal.modal.fade(id="portfolioModal3", tabindex="-1", role="dialog", aria-labelledby="portfolioModal3Label", aria-hidden="true")
    div.modal-dialog.modal-xl(role="document")
        div.modal-content
            button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true")
                    i.fas.fa-times
            div.modal-body.text-center
                div.container
                    div.row.justify-content-center
                        div.col-lg-8
                            <!-- Portfolio Modal - Title-->
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0(id="portfolioModal3Label") Log Circus
                            <!-- Icon Divider-->
                            div.divider-custom
                                div.divider-custom-line
                                div.divider-custom-icon
                                    i.fas.fa-star
                                div.divider-custom-line
                            <!-- Portfolio Modal - Image-->
                            img.img-fluid.rounded.mb-5(src="images/portfolio/circus.png", alt="")
                            <!-- Portfolio Modal - Text-->
                            p.mb-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                            button.btn.btn-primary(data-dismiss="modal")
                                i.fas.fa-times.fa-fw Close Window




div.portfolio-modal.modal.fade(id="portfolioModal4", tabindex="-1", role="dialog", aria-labelledby="portfolioModal1Label", aria-hidden="true")
    div.modal-dialog.modal-xl(role="document")
        div.modal-content
            button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true")
                    i.fas.fa-times
            div.modal-body.text-center
                div.container
                    div.row.justify-content-center
                        div.col-lg-8
                            <!-- Portfolio Modal - Title-->
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0(id="portfolioModal4Label") Log Game
                            <!-- Icon Divider-->
                            div.divider-custom
                                div.divider-custom-line
                                div.divider-custom-icon
                                    i.fas.fa-star
                                div.divider-custom-line
                            <!-- Portfolio Modal - Image-->
                            img.img-fluid.rounded.mb-5(src="images/portfolio/game.png", alt="")
                            <!-- Portfolio Modal - Text-->
                            p.mb-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                            button.btn.btn-primary(data-dismiss="modal")
                                i.fas.fa-times.fa-fw Close Window


div.portfolio-modal.modal.fade(id="portfolioModal5", tabindex="-1", role="dialog", aria-labelledby="portfolioModal1Label", aria-hidden="true")
    div.modal-dialog.modal-xl(role="document")
        div.modal-content
            button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true")
                    i.fas.fa-times
            div.modal-body.text-center
                div.container
                    div.row.justify-content-center
                        div.col-lg-8
                            <!-- Portfolio Modal - Title-->
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0(id="portfolioModal5Label") Log Safe
                            <!-- Icon Divider-->
                            div.divider-custom
                                div.divider-custom-line
                                div.divider-custom-icon
                                    i.fas.fa-star
                                div.divider-custom-line
                            <!-- Portfolio Modal - Image-->
                            img.img-fluid.rounded.mb-5(src="images/portfolio/safe.png", alt="")
                            <!-- Portfolio Modal - Text-->
                            p.mb-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                            button.btn.btn-primary(data-dismiss="modal")
                                i.fas.fa-times.fa-fw Close Window


div.portfolio-modal.modal.fade(id="portfolioModal6", tabindex="-1", role="dialog", aria-labelledby="portfolioModal1Label", aria-hidden="true")
    div.modal-dialog.modal-xl(role="document")
        div.modal-content
            button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true")
                    i.fas.fa-times
            div.modal-body.text-center
                div.container
                    div.row.justify-content-center
                        div.col-lg-8
                            <!-- Portfolio Modal - Title-->
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0(id="portfolioModal6Label") Log Submarine
                            <!-- Icon Divider-->
                            div.divider-custom
                                div.divider-custom-line
                                div.divider-custom-icon
                                    i.fas.fa-star
                                div.divider-custom-line
                            <!-- Portfolio Modal - Image-->
                            img.img-fluid.rounded.mb-5(src="images/portfolio/submarine.png", alt="")
                            <!-- Portfolio Modal - Text-->
                            p.mb-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                            button.btn.btn-primary(data-dismiss="modal")
                                i.fas.fa-times.fa-fw Close Window