section.page-section.portfolio(id="portfolio")
    div.container
        <!-- Portfolio Section Heading-->
        h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Portfolio
        <!-- Icon Divider-->
        div.divider-custom
            div.divider-custom-line
            div.divider-custom-icon
                i.fas.fa-star
            div.divider-custom-line
        <!-- Portfolio Grid Items-->
        div.row.justify-content-center
            <!-- Portfolio Item 1-->
            div.col-md-6.col-lg-4.mb-5
                div.portfolio-item.mx-auto(data-toggle="modal", data-target="#portfolioModal1")
                    div.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                        div.portfolio-item-caption-content.text-center.text-white
                            i.fas.fa-plus.fa-3x
                    img.img-fluid(src="images/portfolio/cabin.png", alt="")
            <!-- Portfolio Item 2-->
            div.col-md-6.col-lg-4.mb-5
                div.portfolio-item.mx-auto(data-toggle="modal", data-target="#portfolioModal2")
                    div.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                        div.portfolio-item-caption-content.text-center.text-white
                            i.fas.fa-plus.fa-3x
                    img.img-fluid(src="images/portfolio/cake.png", alt="")
            <!-- Portfolio Item 3-->
            div.col-md-6.col-lg-4.mb-5
                div.portfolio-item.mx-auto(data-toggle="modal", data-target="#portfolioModal3")
                    div.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                        div.portfolio-item-caption-content.text-center.text-white
                            i.fas.fa-plus.fa-3x
                    img.img-fluid(src="images/portfolio/circus.png", alt="")
            <!-- Portfolio Item 4-->
            div.col-md-6.col-lg-4.mb-5.mb-lg-0
                div.portfolio-item.mx-auto(data-toggle="modal", data-target="#portfolioModal1")
                    div.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                        div.portfolio-item-caption-content.text-center.text-white
                            i.fas.fa-plus.fa-3x
                    img.img-fluid(src="images/portfolio/game.png", alt="")
            <!-- Portfolio Item 5-->
            div.col-md-6.col-lg-4.mb-5.mb-md-0
                div.portfolio-item.mx-auto(data-toggle="modal", data-target="#portfolioModal1")
                    div.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                        div.portfolio-item-caption-content.text-center.text-white
                            i.fas.fa-plus.fa-3x
                    img.img-fluid(src="images/portfolio/safe.png", alt="")
            <!-- Portfolio Item 6-->
            div.col-md-6.col-lg-4
                div.portfolio-item.mx-auto(data-toggle="modal", data-target="#portfolioModal6")
                    div.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                        div.portfolio-item-caption-content.text-center.text-white
                            i.fas.fa-plus.fa-3x
                    img.img-fluid(src="images/portfolio/submarine.png", alt="")